@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');


*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #171717;
}
/*NAVIGATION*/
.mainNav{
    background-color: #222;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
}
.navStart, .navCenter, .navEnd{
    padding: 10px;
}

/*FIRST PORTION OF NAVIGATION*/
.navStart {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
}
.navStart button{
    height: 100%;
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.navStart h1{
    font-family:'Oswald',sans-serif;
    font-size: 1.4em;
}

/*MIDDLE PORTION OF NAVIGATION*/
.navCenter{
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navCenter input[type="text"]{
    width: 60%;
    height: 33px;
    border: 1px solid #333;
    background-color: #111;
    color: white;
}
.navCenter button {
    border: 1px solid #333;
    background-color: #333;
    height: 33px;
    width: 70px;
}

/*LAST PORTION OF NAVIGATION*/
.navEnd{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navEnd button{
    margin: 5px;
    border: none;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.navEnd .login{
    width: 110px;
    justify-content: space-evenly;
    height: 35px;  
    border: 1px solid rgb(73, 158, 238);
    color: rgb(73, 158, 238);
}
.navEnd h3{
    font-family: 'Open Sans', sans-serif; 
    font-size: 1em; 
}
/*CONTENT SECTION*/
/*VIDEO SECTION*/
.content{
    margin-top: 60px;
    display: flex;
}
.videoCol{
    flex: 9;
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.video{
    padding: 20px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #333;
}
#video{
    width: 100%;
    height: 40vw;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    color: white;
}
.title {
    margin: 20px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
.info{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info .likes, .info .shareButtons{
    display: flex;
}
.info h3{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #999;
    flex: 3;
}
.likes{
    flex: 1;
    border-bottom: 2px solid #999;
}
.shareButtons{
    flex: 1;
}
.info button{
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #999;
}
.info button img{
    margin-right: 2px;
}
/*CHANNEL INFO*/
.channel{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid #333;
    padding: 15px 0px;
}
.profilePic{
    border-radius: 50%;
    height: 50px;
}
.videoInfo{
    flex: 4;
}
.videoInfo h1{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 14px 0px 0px 10px;
    padding: 0;
}
.videoInfo h2{
    margin: 0px 0px 0px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #999;
}
.videoInfo p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 20px 0px 0px 10px;
}
.subscribe{
    flex: 1;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
    background-color: red;
    margin: 15px;
    border-radius: 2px;
    border: none;
    padding: 10px;
}
/*ADD COMMENT*/
.addComment{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    margin: 15px;
}
.commentHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.commentHeader h1{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.commentHeader button{
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: 20px;
    color: #999;
    display: flex;
    align-items: center;
}
.commentForm{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}
.commentForm img{
    border-radius: 50%;
    height: 40px;
}
.commentForm input{
    border: none;
    flex: 5;
    border-bottom: 1px solid #333;
    background-color: transparent;
    color: white;
    width: 100%;
    margin: 0px 10px;
    padding: 8px 0px;
}
/*COMMENT SECTION*/
.comments{
    display: flex;
    flex-direction: column;
}
.comment{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: flex-start;
    margin: 10px 0;
}
.commentProfilePic{
    border-radius: 50%;
    height: 40px;
}
.commentContent{
    margin: 0px 10px;
}
.profileName{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.profileName h1{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 6px;
}
.profileName h2{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #999;
}
.commentText{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.commentLikes{
    display: flex;
    align-items: center;
}
.commentLikes button{
    border: none;
    background-color: transparent;
    color: #999;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.commentLikes img{
    margin-right: 5px;
    height: 17px;
}
.responder{
    margin: 0px 15px;
}
.responses{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #3eaeff;
    padding: 5px 0;
    
}
/*RECOMMENDATIONS COLUMN*/
.recommendationsCol {
    flex: 5;
    margin: 20px 0px;
    height: 100%;
    width: 100px;
}
.recommendation{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 50px;
    margin-top: 15px;
}
.thumbnail{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    margin: 0px 10px;
}
.thumbnail .timestamp{
    visibility: hidden;
    position: absolute;
}
.recommendation h1{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0px 5px;
    font-weight: 500;
}
.recommendation h2{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    margin: 4px 5px;
    font-weight: 400;
    color: #aaa;
}