@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #171717;
}
/*NAVIGATION*/
.mainNav{
    background-color: #222;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navStart, .navCenter, .navEnd{
    padding: 10px;
}

/*FIRST PORTION OF NAVIGATION*/
.navStart {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
}
.navStart button{
    height: 100%;
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.navStart h1{
    font-family:'Oswald',sans-serif;
    font-size: 1.4em;
}

/*MIDDLE PORTION OF NAVIGATION*/
.navCenter{
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navCenter input[type="text"]{
    width: 60%;
    height: 33px;
    border: 1px solid #333;
    background-color: #111;
    color: white;
}
.navCenter button {
    border: 1px solid #333;
    background-color: #333;
    height: 33px;
    width: 70px;
}

/*LAST PORTION OF NAVIGATION*/
.navEnd{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navEnd button{
    margin: 5px;
    border: none;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.navEnd .login{
    width: 110px;
    justify-content: space-evenly;
    height: 35px;  
    border: 1px solid rgb(73, 158, 238);
    color: rgb(73, 158, 238);
}
.navEnd h3{
    font-family: 'Open Sans', sans-serif; 
    font-size: 1em; 
}
/*CONTENT SECTION*/
/*VIDEO SECTION*/
.content{
    margin-top: 60px;
    display: flex;
}
.videoCol{
    flex: 9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.video{
    padding: 20px 0px 0px 0px;
    border-bottom: 1px solid #333;
}
#video{
    width: 55vw;
    height: 40vw;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    color: white;
}
.title {
    margin: 20px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
.info{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info .likes, .info .shareButtons{
    display: flex;
}
.info h3{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #999;
    flex: 3;
}
.likes{
    flex: 1;
    border-bottom: 2px solid #999;
}
.shareButtons{
    flex: 1;
}
.info button{
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #999;
}
.info button img{
    margin-right: 2px;
}

/*RECOMMENDATIONS COLUMN*/
.recommendationsCol {
    flex: 5;
    background-color: green;
    height: 100%;
    width: 100px;
}